@using FamilyExpenseTracker.Models
@model FamilyMember

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td></td>
            <td>@Html.HiddenFor(x => x.FamilyMemberId)</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
        </tr>
        <tr>
            <td>Cell</td>
            <td>@Html.TextBoxFor(x => x.Cell)</td>
        </tr>
        <tr>
            <td>Work</td>
            <td>@Html.TextBoxFor(x => x.Work)</td>
        </tr>
        <tr>
            <td>Income</td>
            <td>@Html.TextBoxFor(x => x.Income)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">@ViewBag.BtnTitle</button>
            </td>
        </tr>
    </table>
}
