@using FamilyExpenseTracker.Models
@model List<FamilyMember>

@Html.ActionLink("Add Family Member", "AddFamilyMember")
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Cell</th>
        <th>Work</th>
        <th>Income</th>
    </tr>
    @foreach (FamilyMember familyMember in Model)
    {
        <tr>
            <td>@familyMember.FamilyMemberId</td>
            <td>@familyMember.Name</td>
            <td>@familyMember.Cell</td>
            <td>@familyMember.Work</td>
            <td>@familyMember.Income</td>
            <td>@Html.ActionLink("Edit", "EditFamilyMember", new { id = familyMember.FamilyMemberId })</td>
            <td>@Html.ActionLink("Delete", "DeleteFamilyMember", new { id = familyMember.FamilyMemberId })</td>
        </tr>
    }
</table>
